Source: uroot
Section: unknown
Priority: extra
Maintainer: Alexey Akimov <subdir@gmail.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4
Homepage: https://github.com/subdir/uroot
Vcs-Git: git://github.com/subdir/uroot.git
Vcs-Browser: https://github.com/subdir/uroot

Package: uroot
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, unionfs-fuse, fakeroot, fakechroot
Description: Simple sandboxing without superuser privileges
 Simple sandboxing without superuser privileges
